* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "VT323", monospace;
  letter-spacing: 0.5px;
  background: black url("/background.png");
  color: white;
  font-size: 18px;
}

img {
  max-width: 100%;
  display: block;
}

hr {
  margin: 3rem 0;
}

::placeholder {
  font-family: "VT323", monospace;
  font-size: 1.5rem;
  color: #ccc;
}

audio {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  max-width: 800px;
  margin: 0 auto 4rem;
  border-bottom: 10px groove #ccc;
}

.container {
  padding: 2rem 1rem;
  max-width: 800px;
  margin: 0 auto 4rem;
  border-bottom: 10px groove #ccc;
}

.container {
  padding: 1rem;
  max-width: 800px;
  max-width: 800px;
  margin: auto;
}

header h1 {
  margin: 0;
}

.header-meta {
  display: flex;
  align-items: center;
}

.header-admin-user {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.btn {
  border: 3px groove #ccc;
  color: white;
  background: transparent;
  font-family: "VT323", monospace;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}

.image {
  height: 35px;
  border-radius: 50%;
  margin-left: 1rem;
}

.bites {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  margin-top: 2rem;
}

.bite {
  background: white;
  padding: 2rem 1rem;
  margin-bottom: 4rem;
  color: black;
  font-size: 2rem;
  /* box-shadow: 0 0 0 5px black, 0 0 0 10px white; */
  border: 10px groove #ccc;
}

.small p {
  margin: 0;
}

.bite-meta {
  text-align: center;
}

.bite-name {
  margin: 0 0 1rem;
}

.bite .small {
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bite-author {
  display: flex;
}

.recorder {
  text-align: center;
}

input {
  border: 5px groove #ccc;
  background-color: transparent;
  color: white;
  line-height: 50px;
  height: 50px;
  font-family: "VT323", monospace;
  font-size: 1.5rem;
  padding: 0.5rem;
  display: block;
  width: 80%;
  margin: 0 auto 2rem;
}

.try {
  margin: auto;
  display: block;
}

.fields,
.btns {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.btns {
  margin-bottom: 0;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  border: 5px groove #ccc;
  width: 35px;
  position: relative;
}

input[type="checkbox"]:checked + label:before {
  content: "✔️";
  position: absolute;
  display: block;
  font-size: 3rem;
  top: -18px;
  left: 0px;
  color: lightgreen;
}

input[type="checkbox"] + label:after {
  content: "Gray?";
  position: absolute;
  right: -60px;
}

.title {
  font-weight: normal;
  font-size: 3rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  header {
    display: block;
    text-align: center;
  }
}
